ion-title{
  font-family: 'Unica One', cursive;
  font-size: 30px;
}

ion-card-title{
  font-family: 'Unica One', cursive;
}

.highscore{
  font-size: 20px;
}

.iconHighscore{
  font-size: 30px;
}

.titleHighscore{
  font-size: 27px;
}

.smallIcon{
  margin-right: 0;
  margin-left: 0
}

.smallText{
  margin-left: 5px;
}

ion-button{
  width: 100%;
}

.timer{
  font-size: 10vi;
  padding-top: 2%;
}